# MONGODB CONNECTION STRING
# Hướng dẫn: Đăng nhập MongoDB Atlas -> Connect -> Drivers -> Node.js -> Copy link
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority

# JWT SECRET KEY (Chuỗi bảo mật để tạo token đăng nhập)
# Gợi ý: Hãy nhập một chuỗi ngẫu nhiên, ví dụ: my_super_secret_key_123!
JWT_SECRET=thay_bang_chuoi_bi_mat_cua_ban
